:root{
  --color-light: #FFFFFF;
  --color-light-gray: #87888C;
  --color-dark: #171821;
  --color-dark-alternate: #21222D;
  --color-succsess: #59D499;
  --color-error: #d55353;
  --color-accent-orange: #FEB95A;
  --color-accent-green: #A9DFD8;
  --color-accent-pink: #F2C8ED;
  --color-accent-blue: #20AEF3;

  --font-family-base: 'Inter', sans-serif;

  --container-width: 1280px;
  --container-padding-x: 32px;
  --section-padding-y : 256px;

  --border-radius: 12px;
  --border-radius-medium: 10px;
  --border-radius-small: 6px;
  --border-radius-button: 8px;
  --button-height: 44px;
  --input-height: 46px;

  --transition-duration: 0.3s;

}